NodeFLOW.txt
[
    {
        "id": "d18364dc.32e118",
        "type": "tab",
        "label": "LIGHT - MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ac1a658.d0a2c8",
        "type": "nora-light",
        "z": "d18364dc.32e118",
        "devicename": "Light",
        "lightcolor": false,
        "brightnesscontrol": true,
        "passthru": false,
        "statepayload": true,
        "brightnessoverride": "",
        "roomhint": "Dormitorio principal",
        "name": "",
        "nora": "a5d39d1.ec3e96",
        "topic": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "offvalue": "OFF",
        "offvalueType": "str",
        "x": 108,
        "y": 119,
        "wires": [
            [
                "65630fb0.1a789"
            ]
        ]
    },
    {
        "id": "738429f7.fc4fa8",
        "type": "mqtt out",
        "z": "d18364dc.32e118",
        "name": "IR1",
        "topic": "IR1/IN",
        "qos": "2",
        "retain": "false",
        "broker": "8588597e.31bd68",
        "x": 774,
        "y": 108,
        "wires": []
    },
    {
        "id": "d7ed11bd.79484",
        "type": "switch",
        "z": "d18364dc.32e118",
        "name": "OFF/ON",
        "property": "payload.on",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 396,
        "y": 95,
        "wires": [
            [
                "e65ad2ca.7d7b9"
            ],
            [
                "548669e2.8980e8"
            ]
        ]
    },
    {
        "id": "548669e2.8980e8",
        "type": "change",
        "z": "d18364dc.32e118",
        "name": "Set ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 584,
        "y": 94,
        "wires": [
            [
                "738429f7.fc4fa8"
            ]
        ]
    },
    {
        "id": "e65ad2ca.7d7b9",
        "type": "change",
        "z": "d18364dc.32e118",
        "name": "Set OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 587,
        "y": 54,
        "wires": [
            [
                "738429f7.fc4fa8"
            ]
        ]
    },
    {
        "id": "65630fb0.1a789",
        "type": "switch",
        "z": "d18364dc.32e118",
        "name": "VALUE",
        "property": "payload.brightness",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "prev"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "prev"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 257,
        "y": 109,
        "wires": [
            [
                "d7ed11bd.79484"
            ],
            [
                "6a66c3d3.54579c"
            ]
        ]
    },
    {
        "id": "6a66c3d3.54579c",
        "type": "switch",
        "z": "d18364dc.32e118",
        "name": "5/100",
        "property": "payload.brightness",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 388,
        "y": 137,
        "wires": [
            [
                "a0e5a83d.c10cf8"
            ],
            [
                "5ee1f116.cc28e"
            ]
        ]
    },
    {
        "id": "a0e5a83d.c10cf8",
        "type": "change",
        "z": "d18364dc.32e118",
        "name": "Set NIGHT",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NIGHT",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 596,
        "y": 133,
        "wires": [
            [
                "738429f7.fc4fa8"
            ]
        ]
    },
    {
        "id": "5ee1f116.cc28e",
        "type": "change",
        "z": "d18364dc.32e118",
        "name": "Set DAY",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "DAY",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 588,
        "y": 171,
        "wires": [
            [
                "738429f7.fc4fa8"
            ]
        ]
    },
    {
        "id": "a5d39d1.ec3e96",
        "type": "nora-config",
        "z": "",
        "name": "NORA",
        "group": ""
    },
    {
        "id": "8588597e.31bd68",
        "type": "mqtt-broker",
        "z": "",
        "name": "Mosquitto",
        "broker": "192.168.0.100",
        "port": "1883",
        "clientid": "NodeRED",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]